/*
 *
 *= require_tree .
 *= require_self
 */ 
h1 {
    color: red;
}

h2, h3, h4 {
    color: #ffff;
}

a {
    cursor: pointer;
    text-decoration: none;
}

div {
    display: block;
}

input {
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 16px;
    color: #ffff;
    text-align: start;
    padding: 3px 0 0 8px;
}

body {
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #2e3035;
    color: #fff;
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: 100% 383px;
}

/* Navbar */

.navbarTop {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-around;
}

.navbarLogo {
    margin-top: 2px;
    margin-right: 20px;
    color: #ffff;
    font-size: 35px;
    font-weight: 1000;
    text-decoration: none;
}

.searchBar {
    height: 36px;
    line-height: 1.15;
    background: hsla(0,0%, 100%, .25);
    border-radius: 3px;
    width: 100%;
    opacity: .8;
    outline: 0 none;
    margin-top: 3px;
    margin-left: 8%;
    margin-right: 8%;
    min-height: 36px;
    font-size: 16px;
    letter-spacing: .4px;
    font-weight: 700;
    color: #ffff;
    cursor: text;
    font: 400 13.3333px Arial;
    display: flex;
}

.searchBar img {
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: relative;
    top: 6px;
    right: 4px;
}

.searchBar input {
    width: 100%;
    height: 25px;
}

.navbarRight {
    display: flex;
}

.navbarRight a {
    display: inline-block;
}

.topImagesIcon {
    height: 35px;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.topImagesIcon:hover {
    opacity: .25;
}

.mainPage p {
    margin: 0;
    padding-bottom: 5px;
}

.mainPage button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 35px;
    display: inline-block;
    padding: 7px 14px 10px 9px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    width: auto;
    background-color: #1bb763;
    border: 1px solid transparent;
    box-shadow: 0 6px 10px 0 rgba(27, 28, 30, .31);
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}

.newPostButton {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.signinButton {
    white-space: nowrap;
    opacity: 1;
    text-decoration: none;
    margin-right: 18px;
    margin-top: 10px;
    margin-left: 2px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 14px 15px rgba(27,28,30,.31);
}

.signupButton {
    margin-top: 2px;
    margin-right: 2px;
    margin-left: -11px;
    min-width: 108px;
    text-decoration: none;
}

/* Body */

.welcomeMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    font-size: 24px;
    font-family: Proxima Nova ExtraBold, Helvetica, sans-serif;
    font-weight: bold;
    color: #aed8ea;
    min-height: 34px;
    margin-top: 12px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Image Tags */

.imageGroups {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-right: 6%;
}

.imageGroupButtons {
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
}

.imageGroupButtons button {
    width: 110px;
    height: 120px;
    text-align: center;
    color: #ffff;
    padding: 12px;
    border-radius: 3px;
    white-space: normal;
    margin: 5px;
}

.imageGroupButtons button:hover {
    position: relative;
    bottom: 2px;
}

.imageGroupButtons button:first-child {
    width: 232px;
}

.imageGroupTags {
    display: flex;
    justify-content: space-between;
}

.imageGroupTags h4 {
    color: #babec4;
}

#staffPicks {
    background-color: rgba(121,67,200,.8);
}

#funny {
    background-color: rgba(99,56,117,.8);
}

#memes {
    background-color: rgba(186,81,159,.8);
}

#scienceAndTech {
    background-color: rgba(228,125,87,.8);
}

#gaming {
    background-color: rgba(43,26,90,.8);
}

#greatOutdoors {
    background-color: rgba(67,104,100);
}

/* Image Navbar */

.imageNavbar {
    margin-top: 25px;
    margin-left: 11%;
    margin-right: 11%;
    display: flex;
    justify-content: space-between;
}

.imageNavbar svg {
    fill: #fff;
}

.dropdowns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#dropdown_one {
    font-size: 18px;
    color: #babec4;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-weight: 600;
    height: 15px;
}

#dropdown_two {
    text-align: right;
    font-size: 16px;
    color: #babec4;
    cursor: pointer;
    letter-spacing: 1.5px;
    font-weight: 600;
    height: 15px;
}

.dropdown-list {
    border-radius: 6px;
    background-color: #53565d;
    box-shadow: 0 9px 25px 0 rgba(0,0,0.78);
    padding-top: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 2.14;
    position: relative;
    top: 10px;
    right: 40px;
    z-index: 100;
    width: auto;
    cursor: pointer;
}

#dd-list-two {
    position: relative;
    left: 32px;
}

.dropdown-list ul {
    position: relative;
    right: 20px;
    bottom: 15px;
}

.dropdown-list ul li {
    list-style-type:none;
    width: auto;
}

.dropdown-list ul li:hover {
    background-color: #b4b9c2;
}

.dropdown-triangle {
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #53565d;
    position: absolute;
    top: -9px;
    right: 24px;
}

.dropdown-arrow {
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #babec4;
    position: relative;
    border-radius: 6px;
    bottom: 3px;
    left: 5px;
}

.imageNavIcons {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.imageNavIcons a:first-child {
    margin-right: 20px;
}

.imageNavIcons a {
    margin-left: 12px;
}

.iconActive {
    opacity: .4;
}

/* Frontpage Images */

.imageList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageColumn {
    width: 240px;
    height: 100%;
    margin-top: 15px;
    margin-right: 15px;
    padding-inline-start: 0px;
}

.frontPageImageContainer {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    background-color: #474a51;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
    cursor: pointer;
}

.frontPageImageContainer:hover {
    filter: brightness(125%);
    -webkit-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
}

.frontPageImage {
    width: 240px;
    border-radius: 3px;
    height: 100%;
}

.frontPageImageInfo {
    width: 100%;
    background-color: #474a51;
    padding-top: 12px;
    color: #fff;
}

.frontPageImageTitle {
    font-weight: 600;
    line-height: 1.14;
    font-size: 14px;
    color: #fff;
    max-height: 45px;
    overflow: hidden;
    padding: 0 15px;
}

.frontPageInfoStats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 12px;
    color: hsla(0,0%,100%,.6);
    padding: 0, 15px;
    min-height: 8px;
}

/* Footer */

.Footer {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #33353b;
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
}

.footerLinks p {
    margin-right: 20px;
}

.footerLinks a {
    color: #b4b9c2;
    margin: 0 24px;
    text-decoration: none;
}

.footerButtons {
    display: flex;
}

.footerButtons span {
    margin-right: 24px;
    padding-top: 8px;
    color: #595d66;
    cursor: pointer;
    position: relative;
}

.footerButtons span img {
    opacity: .6;
}

.footerButtons button {
    min-width: 210px;
    background-color: #474a51;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding-right: 55px;
    display: flex;
    height: 100%;
    border-radius: 0;
}

.footer-dropdown-list {
    display: flex;
    border-radius: 6px;
    background-color: #474a51;
    box-shadow: 0 9px 25px 0 rgba(0,0,0.78);
    padding-top: 5px;
    color: #fff;
    font-size: 16px;
    line-height: 2.14;
    padding-top: 22px;
    padding-left: 0px;
    padding-right: 20px;
    position: absolute;
    top: -137px;
    left: -103px;
    z-index: 100;
    width: auto;
    cursor: pointer;
    white-space: nowrap;
}

.footer-dropdown-list ul {
    position: relative;
    right: 20px;
    bottom: 15px;
}

.footer-dropdown-list ul li {
    list-style-type:none;
    width: auto;
    text-align: left;
}

.footer-dropdown-list ul li:hover {
    background-color: #b4b9c2;
}

.footer-dropdown-triangle {
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #53565d;
    position: absolute;
    bottom: -9px;
    right: 110px;
}